*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}



.container-full{
    width: 100%;
    height: calc(100vh - 200px);
   
}

.row{
    display: flex;
    height: 100%;

}

.col-left{
    width: 225px;
    height: 88vh;
    background-color: black;
   
}

.container-img{
    width: 80%;
    margin: 0 auto;
   
}

.row-img{
    width: 100%;
}

.col-img{
   
    margin-top: 20px;
}


.container-nav{
    width: 80%;
    margin: 0 auto;
   
}

.row-nav{
    width: 100%;
}


.col-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 50px;
   
    margin-top: 40px;
    
}

.img-nav{
    margin-bottom: 10px;
}

.text{
    display:inline-block ;
    color: lightgray;
    opacity: 0.7;
    position: absolute;
    top: 102px;
    left: 45px;
    font-weight: 500;
  
}

.text-1{
    color: lightgray;
    opacity: 0.5;
    position: absolute;
    top: 135px;
    left: 45px;
    font-weight: 500;
    
}

.text-2{
    color: lightgray;
    opacity: 0.5;
    position: absolute;
    top: 170px;
    left: 42px;
    font-weight: 500;
    
}

.col-header{
    margin: 20px;
}

.button-header{
    width: 80%;
    padding: 15px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
}


.container-playlist{
    width: 80%;
    margin: 0 auto;
   
}

.row-playlist{
    width: 100%;
}

.col-playlist{
    width: 120px;
  
    
    margin-top: 65px;
    text-align: left;
}

h2{
    color: white;
}

span{
    color: lightgray;
    font-weight: 500;
    opacity: 0.8;
}

li{
    color: lightgray;
    font-weight: 500;
    opacity: 0.8;
    line-height: 2;
    margin-top: 10px;
    list-style-type: none;
}

.plus{
    background-color: lightgray;
    
}
    


.container-download-bar{
    width: 80%;
    margin: 0 auto;
   
}

.row-download-bar{
    width: 100%;
}

.col-download-bar{
    width: 120px;
    height: 100px;
   
    position: absolute;
    top: 140px;
}

.hr-download{
    margin-top: 10px;
    border-color: lightgray;
}

.user{
    background-color: lightgray;
    border-radius: 50%;
    margin-top: 20px;
    padding: 5px;
}
   

.col-right{
    width: calc(100% - 130px);
    position: relative;
    background-color: rgba(20,25,34,255);
}

.container-nav-top{
    width: 55%;
    margin:  0 auto;
  
    
}

.inline{
    display: inline-block;
    text-align: center;
  margin-right: 10px;
}

.row-nav-top{
    display: flex;
}

.header{
    width: 100%;
    height: 100px;
    background-color: rgba(8,11,18,255);
    position: fixed;
}

.container-header{
    width: 100%;
    
}

.row-header{
    width: 89%;
    display: flex;
    justify-content: flex-end;
}

.col-header{
    width: 20%;
   
}

.container-bottom{
    width: 100%;
   
    background-color: rgba(40,40,40,255);
    position: fixed;
    z-index: 100;
    bottom: 0;
}

.row-bottom{
    width: 100%;
    display: flex;
}

.col-bottom{
    width: calc(100% / 3 - 60px);
    height: 50px;
   
    margin: 30px;
}

.main{
    width: 100%;
    height: 77vh;
    background-color:rgba(20,25,34,255) ;
    position: absolute;
    top: 100px;
   

}

.container-songs{
    height: 114px;
    width: 100%;
    
    margin-bottom: 160px;
}
   
    

.row-songs{
    display: flex;
    position: absolute;
    height: 99px;
    width: 100%;
   
    top: 25;
}

.col-songs{
    width: calc(100% / 6 - 20px);
    height: 100%;
    
    margin: 10px;
}

.container-center-main{
    width: 100%;
    position: absolute;
    top: 430px;
   
}

.row-center-main{
   
    height: 100%;
    display: flex;
    
}

.col-center-main{
   
    height: 100px;
    margin: 10px;
    
}

p{
    color: grey;
    opacity: 0.8;
    font-weight: 600;
}

H4{
    color: white;
}

.container-bottom-main{
    width: 100%;
    margin-top: 210px;
}
    
 

.row-bottom-main{
    height: 100%;
    display: flex;
    
}
   

.col-bottom-main{
    
    margin: 10px;
    height: 100px;
    
  }




.container-playlist{
    width: 80%;
    margin: 0 auto;
   
}
    

.row-playlist{
    display: flex;
    flex-direction: column;
}



.h2-playlist{
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}





.container-download-bar{
    width: 80%;
    margin: 0 auto;
}


.row-download-bar{
    position: relative;
}

.download{
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 3px;
    color: white;
}




.download-row{
    
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid grey;
    
}


h5{
    display: inline-block;
    position: absolute;
    top: 50px;
}

.nome-brano{
    font-size: 10px;
    position: absolute;
    bottom: 33px;
}


.heart{
    position: absolute;
    bottom: 45px;
    left: 195px;
    color:lightgray;
    opacity: 0.8;
   
}

.holder{
    position: absolute;
    top: 50px;
    left: 230px;
    color:lightgray;
    opacity: 0.8;
}

.margin{
    margin-right: 20px;
   
}

.col-bottom-2{
    text-align: center;
}

.time-song{
    width: 80%;
    height: 2px;
    margin: 0 auto;
    background-color: gray;
    margin-top: 10px;
    margin-left: 32px;
}

.line-white{
    width: 20%;
    height: 2px;
    background-color: white;
}

.time-left{
    color: white;
    position: absolute;
    top: 52px;
    left: 650px;
    font-size: 10px;
}
    
.time-right{
    color: white;
    position: absolute;
    top: 52px;
    right: 700px;
    font-size: 10px;
}

.col-bottom-3{
    text-align: center;
  
}

.line-volume{
    width: 5%;
    height: 2px;
    position: absolute;
    
    top: 38px;
    right: 125px;
    background-color: grey;
}

.line-white-volume{
    width: 30%;
    height: 2px;
    background-color: white;
}

@media screen and (max-width:2000px){
   
    .col-left{
        width: 140px;
        height: 91vh;
    }

    

    .main{
        height: 82vh;
    }

    .container-bottom-main {
       
        position: absolute;
        top: 340px;
    }
    

    .container-center-main{
        
        top: 300px;
       
    }

    .logo-smartphone{
        display: none;
    }

    .button-header{
        width: 70%;
    }
    .col-header{
        width: 35%;
      
    }
}


@media screen and (max-width:991px) {
    

    .header{
        z-index: 100;
        position: static;
    }

    .button-header{
        width: 100%;
    }
    .col-header{
        width: 30%;
        position: absolute;
        right: 0;
    }

    .container-center-main{
        top: 360px;
    }

    .main{
        height: 77vh;
    }

    .container-nav-top{
        width: 80%;
        text-align: center;
        margin:  0 auto;
       
        
    }

    .col-left{
        height: 88vh;
        width: 140px;
    }

    
    .row-songs{
        display: flex;
        flex-wrap: wrap;
    }

    .col-songs{
        width: calc(100% / 4 - 20px);
    }

    .logo-smartphone{
        display: none;
    }
}

@media screen and (max-width:768px) {

    .header{
        position: static;
    }

    .button-header{
        width: 100%;
    }
    .col-header{
        width: 50%;
        position: absolute;
        right: 0;
    }

    .main{
        height: 77vh;
    }

    .container-nav-top{
        width: 100%;
        text-align: center;
        margin:  0 auto;
       
        
    }

    .container-songs{
        margin-bottom: 240px;
    }
    
    
    .col-left{
        height: 89.3vh;
        width: 140px;
    }

    .container-center-main{
        
        top: 435px;
       
    }
    
    .col-songs{
        width: calc(100% / 2 - 20px);
        margin: 4px;
    }

    .logo-smartphone{
        display: none;
    }

    .header{
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .col-left{
        width: 10%;
        position: relative;
       
    }

    .header{
        width: 100%;
        position: fixed;
        z-index: 100;
    }

    .inline{
        font-size: 13px;
    }

    .container-nav-top{
        width: 95%;
        position: absolute;
        top: 100px;
    }

   

    

    .button-header{
        width: 60%;
    }
    .col-header{
        width: 70%;
        position: absolute;
        right: 0;
    }

    .text{
        display: none;
    }
    .text-1{
        display: none;
    }
    .text-2{
        display: none;
    }
    .text-3{
        display: none;
    }

    li{
        display: none;
    }

    span{
        display: none;
    }

    .col-playlist{
        display: none;
    }

    .col-download-bar{
        top: 530px;
    }

    .main{
        top: 0px;
        height: 88vh;

    }

    .row{
        display: flex;
        
    }

    .col-right{
       width: 90%;
    }

    .container-center-main{
        position: absolute;
        top: 500px;
    }


    .container-bottom-main{
        position: absolute;
        top: 450px;
        

    }

    .row-songs{
        position: absolute;
        top: 175px;

    }

    
    .logo{
       display: none;
    }

    .logo-smartphone{
        display: block;
       
       
    }

   
}