*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}



.container-full{
    width: 100%;
    height: calc(100vh - 200px);
   
}

.row{
    display: flex;
    height: 100%;

}

.col-left{
    width: 225px;
    height: 88vh;
    background-color: black;
   
}

.container-img{
    width: 80%;
    margin: 0 auto;
   
}

.row-img{
    width: 100%;
}

.col-img{
   
    margin-top: 20px;
}


.container-nav{
    width: 80%;
    margin: 0 auto;
   
}

.row-nav{
    width: 100%;
}


.col-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 50px;
   
    margin-top: 40px;
    
}

.img-nav{
    margin-bottom: 10px;
}

.text{
    display:inline-block ;
    color: lightgray;
    opacity: 0.7;
    position: absolute;
    top: 102px;
    left: 45px;
    font-weight: 500;
  
}

.text-1{
    color: lightgray;
    opacity: 0.5;
    position: absolute;
    top: 135px;
    left: 45px;
    font-weight: 500;
    
}

.text-2{
    color: lightgray;
    opacity: 0.5;
    position: absolute;
    top: 170px;
    left: 42px;
    font-weight: 500;
    
}

.col-header{
    margin: 20px;
}

.button-header{
    width: 80%;
    padding: 15px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
}


.container-playlist{
    width: 80%;
    margin: 0 auto;
   
}

.row-playlist{
    width: 100%;
}

.col-playlist{
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
    margin-top: 55px;
}

.container-download-bar{
    width: 80%;
    margin: 0 auto;
   
}

.row-download-bar{
    width: 100%;
}

.col-download-bar{
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
    position: absolute;
    top: 403px;
}
   

.col-right{
    width: calc(100% - 130px);
    position: relative;
    background-color: rgba(20,25,34,255);
}



.header{
    width: 100%;
    height: 100px;
    background-color: rgba(8,11,18,255);
    position: fixed;
}

.container-header{
    width: 100%;
    
}

.row-header{
    width: 89%;
    display: flex;
    justify-content: flex-end;
}

.col-header{
    width: 20%;
   
}

.container-bottom{
    width: 100%;
   
    background-color: rgba(40,40,40,255);
    position: fixed;
    z-index: 100;
    bottom: 0;
}

.row-bottom{
    width: 100%;
    display: flex;
}

.col-bottom{
    width: calc(100% / 3 - 60px);
    height: 50px;
    background-color: red;
    margin: 30px;
}

.main{
    width: 100%;
    height: 77vh;
    background-color:rgba(20,25,34,255) ;
    position: absolute;
    top: 100px;
   

}

.container-songs{
    height: 114px;
    width: 100%;
    background-color: blue;
    margin-bottom: 160px;
}
   
    

.row-songs{
    display: flex;
    position: absolute;
    height: 99px;
    width: 100%;
    background-color: yellow;
    top: 0;
}

.col-songs{
    width: calc(100% / 6 - 20px);
    height: 50px;
    background-color: purple;
    margin: 10px;
}

.container-center-main{
    width: 100%;
   
    background: purple;
}

.row-center-main{
    width: 33.5%;
    height: 100%;
    display: flex;
    
}

.col-center-main{
    width: calc(100% / 2 - 20px);
    height: 50px;
    background-color: chartreuse;
    margin: 10px;
}

.container-bottom-main{
    width: 100%;
    
    background: purple;
    margin-top: 210px;
}

.row-bottom-main{
    width: 33.5%;
    height: 100%;
    display: flex;
    
}

.col-bottom-main{
    width: calc(100% / 2 - 20px);
    height: 50px;
    background-color: chartreuse;
    margin: 10px;
}




.container-playlist{
    width: 80%;
    margin: 0 auto;
   
}
    

.row-playlist{
    display: flex;
    flex-direction: column;
}

.col-playlist{
    text-align: left;
   
    
}






.container-download-bar{
    width: 80%;
    margin: 0 auto;
}


.row-download-bar{
    position: relative;
}






.download-row{
    
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid grey;
}




@media screen and (max-width:2000px){
   
    .col-left{
        width: 140px;
    }

    .logo-smartphone{
        display: none;
    }

    .button-header{
        width: 70%;
    }
    .col-header{
        width: 35%;
      
    }
}


@media screen and (max-width:991px) {
    

    .header{
        z-index: 100;
        position: static;
    }

    .button-header{
        width: 100%;
    }
    .col-header{
        width: 30%;
        position: absolute;
        right: 0;
    }

    .main{
        height: 77vh;
    }

    .col-left{
        width: 140px;
    }

    .col-left{
        height: 88vh;
        width: 130px;
    }

    
    .row-songs{
        display: flex;
        flex-wrap: wrap;
    }

    .col-songs{
        width: calc(100% / 4 - 20px);
    }

    .logo-smartphone{
        display: none;
    }
}

@media screen and (max-width:768px) {

    .header{
        position: static;
    }

    .button-header{
        width: 100%;
    }
    .col-header{
        width: 50%;
        position: absolute;
        right: 0;
    }

    .main{
        height: 77vh;
    }

    .container-songs{
        margin-bottom: 240px;
    }
    .container-bottom-main{
        margin-top: 130px;
    }
    .col-left{
        height: 90vh;
        width: 130px;
    }

    .col-left{
        width: 140px;
    }
    
    .col-songs{
        width: calc(100% / 2 - 20px);
    }

    .logo-smartphone{
        display: none;
    }

    .header{
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .col-left{
        width: 10%;
        position: relative;
       
    }

    .header{
        width: 100%;
        position: fixed;
        z-index: 100;
    }

    .button-header{
        width: 60%;
    }
    .col-header{
        width: 70%;
        position: absolute;
        right: 0;
    }

    .text{
        display: none;
    }

    .main{
        top: 0px;
        height: 88vh;

    }

    .row{
        display: flex;
        
    }

    .col-right{
       width: 90%;
    }

    .container-center-main{
        position: absolute;
        top: 415px;
    }


    .container-bottom-main{
        position: absolute;
        top: 523px;
        

    }

    .row-songs{
        position: absolute;
        top: 100px;

    }

    
    .logo{
       display: none;
    }

    .logo-smartphone{
        display: block;
       
       
    }

   
}