*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}



.container-full{
    width: 100%;
    height: calc(100vh - 200px);
   
}

.row{
    display: flex;
    height: 100%;

}

.col-left{
    width: 225px;
 
    background-color: black;
   
}

.container-img{
    width: 80%;
    margin: 0 auto;
   
}

.row-img{
    width: 100%;
}

.col-img{
    height: 50px;
    background-color: cornflowerblue;
    margin-top: 20px;
}


.container-nav{
    width: 80%;
    margin: 0 auto;
   
}

.row-nav{
    width: 100%;
}


.col-nav{
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
    margin-top: 40px;
}


.container-playlist{
    width: 80%;
    margin: 0 auto;
   
}

.row-playlist{
    width: 100%;
}

.col-playlist{
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
    margin-top: 40px;
}

.container-download-bar{
    width: 80%;
    margin: 0 auto;
   
}

.row-download-bar{
    width: 100%;
}

.col-download-bar{
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
    margin-top: 320px;
}

.col-right{
    width: calc(100% - 225px);
    position: relative;
    background-color: rgba(20,25,34,255);
}



.header{
    width: 100%;
    height: 100px;
    background-color: rgba(8,11,18,255);
    position: fixed;
}

.container-header{
    width: 100%;
    
}

.row-header{
    width: 89%;
    display: flex;
    justify-content: flex-end;
}

.col-header{
    width: 10%;
    height: 50px;
    background-color: red;
}

.container-bottom{
    width: 100%;
    height: 200px;
    background-color: rgba(40,40,40,255);
    position: fixed;
    z-index: 100;
    bottom: 0;
}

.row-bottom{
    width: 100%;
    display: flex;
}

.col-bottom{
    width: calc(100% / 3 - 60px);
    height: 50px;
    background-color: red;
    margin: 30px;
}

.main{
    width: 100%;
    height: 75vh;
    background-color:rgba(20,25,34,255) ;
    position: absolute;
    top: 100px;
   

}

.container-songs{
    height: 114px;
    width: 100%;
    background-color: blue;
    margin-bottom: 160px;
}
   
    

.row-songs{
    display: flex;
    position: absolute;
    height: 99px;
    width: 100%;
    background-color: yellow;
    top: 0;
}

.col-songs{
    width: calc(100% / 6 - 20px);
    height: 50px;
    background-color: purple;
    margin: 10px;
}

.container-center-main{
    width: 100%;
    height: 200px;
    background: purple;
}

.row-center-main{
    width: 33.5%;
    height: 100%;
    display: flex;
    
}

.col-center-main{
    width: calc(100% / 2 - 20px);
    height: 50px;
    background-color: chartreuse;
    margin: 10px;
}

.container-bottom-main{
    width: 100%;
    height: 200px;
    background: purple;
    margin-top: 210px;
}

.row-bottom-main{
    width: 33.5%;
    height: 100%;
    display: flex;
    
}

.col-bottom-main{
    width: calc(100% / 2 - 20px);
    height: 50px;
    background-color: chartreuse;
    margin: 10px;
}




.container-playlist{
    width: 80%;
    margin: 0 auto;
   
}
    

.row-playlist{
    display: flex;
    flex-direction: column;
}

.col-playlist{
    text-align: left;
   
    
}






.container-download-bar{
    width: 80%;
    margin: 0 auto;
}


.row-download-bar{
    position: relative;
}

.col-download-bar{
width: 100%;
height: 100px;

position: absolute;
top: 320px;

}

.download-row{
    
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid grey;
}







@media screen and (max-width:991px) {
    
    .row-songs{
        display: flex;
        flex-wrap: wrap;
    }

    .col-songs{
        width: calc(100% / 4 - 20px);
    }

    .logo-smartphone{
        display: none;
    }
}

@media screen and (max-width:768px) {
    .col-songs{
        width: calc(100% / 2 - 20px);
    }

    .logo-smartphone{
        display: none;
    }
}

@media screen and (max-width:500px) {
    .col-left{
        width: 10%;
        position: relative;
       
    }

    .row{
        display: flex;
        
    }

    .col-right{
       width: 90%;
    }

    .logo{
       display: none;
    }

    .logo-smartphone{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
       
    }

    .span{
        margin-top: 10px;
    }
}